.project
.settings
.idea
.vscode
!.vscode/settings.json
.vs
.svn
*~
*.diff
*.patch
.DS_Store
.bower.json
.sizecache.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/node_modules

/dist/*
!/dist/.eslintrc.json
/lib/*
!/lib/.eslintrc.json
/es/*
!/es/.eslintrc.json
